= provide(:title, 'About') 

%h1 About

%div{:class => "me"}
  =image_tag "paul.jpg"

%p My name is Paul Ogden and I am a recent graduate of Portland Code School.  For the past 6 months I have been learning full stack web development with a focus on Ruby on Rails.  From the beginning of my programming training I have been practicing Test Driven Development.  This has allowed me to develop an appreciation for the type of code that it helps you to write.

%p Since getting my first computer in the third grade I have had a passion for computing and the technologies that go along with it.  This eventually led me to the University of South Florida, where I graduated with a B.S. in Management Information Systems.  After this I started a career with a focus on hardware.  It wasn't until recently that I figured out how much fun programming is.  I believe it is the problem-solving aspect that really attracted me.