<% provide(:title, 'Resume') %>

<h1>
  Resume
</h1>

<h3>
  Professional Summary
</h3>

<p>
  Senior support specialist turned junior developer eager to improve on his programming chops.  Fast learning, team player who always gives 100% is interested in proving himself to the Portland developers community.
</p>

<br>
<h3>
  Technical Expertise
</h3>

<p>
  Related Profeciencies: Bash, CSS, Fogbugz, Git, HTML, PostgreSQL, RSpec, Ruby, Ruby on Rails, RVM, SalesForce, Sass, SQL, ZenDesk
</p>

<p>
  Applications: AutoCAD, Microsoft Office 
</p>

<p>
  Operating Systems: Linux, Microsoft Windows 
</p>

<br>
<h3>
  Professional Experience
</h3>

<h4>
  Operations/Support Specialist, DECK Monitoring, LLC. May 2011 - Present
</h4>

<ul>
  <li>Technical Support Phone Calls</li>
  <li>10% Travel for Onsite Support</li>
  <li>Software deployments and customizations</li>
  <li>Hardware configuration and logistics/shipping</li>
  <li>Single-line drawings in AutoCAD</li>
  <li>QA software deployments</li>
  <li>Documentation of software bugs in fogbugz ticketing system</li>
</ul>

<h4>
  Training Support Specialist, Office Ally, LLC. March 2009 - May 2011
</h4>

<ul>
  <li>Training new users on electronic health records software</li>
  <li>Testing new releases</li>
  <li>Documentation of bugs in JIRA ticketing system</li>
</ul>

<h4>
  Level 2 Support Professional, Stream Inc. September 2007 - December 2008
</h4>

<ul>
  <li>Provide end level hardware and software support to Dell business cuswtomers</li>
  <li>Document issues</li>
  <li>Escalate when necessary</li>
</ul>

<br>
<h3>
  Education
</h3>

<h4>
  Portland Code School, OR September 2013 - Janurary 2014
</h4>

<p>
  Major focus on Ruby on Rails
</p>

<h4>
  University of South Florida, FL September 2002 - May 2007
</h4>

<p>
  Graduated with a BS in Management Information Systems
</p>

<ul>
  <li>Bright Future Scholarship 2002-2007</li>
  <li>W.L. Brewer Scholarship, 2002-2007</li>
  <li>Boy State, May 2001</li>
</ul>