= provide(:title, 'Resume')

.page-heading
  %h2 R&eacute;sum&eacute;
%article
  <iframe src="https://docs.google.com/viewer?srcid=0B6PGApBpG-ZdNmNMMGxYVHRMVlk&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="640px" height="480px"></iframe>
