= provide(:title, 'Resume')

%h1 Resume

%h3 Professional Summary


%p Senior support specialist turned junior developer eager to improve on his programming chops.  Fast learning, team player who always gives 100% and interested in finding a career with a great company working on an interesting project that I can be passionate about.

%br

%h3 Technical Expertise

%p Frameworks:  Ruby on Rails, Git, Github, Sinatra, HAML, ERB, SASS, APIs

%p Ruby: Ruby on Rails, Nokogiri, Pry, Gmaps4rails, Devise, RVM

%p Testing: Rspec, Capybara, VCR, FactoryGirl

%p Code: HTML5/CSS3, Postgres, SQLite, Unix/Linux

%p Methods: TDD, Agile Development, revision control systems, Heroku and remote deployment

%p Related Proficiencies: Fogbugz, SalesForce, ZenDesk

%br

%h3 Professional Experience

%h4 Operations/Support Specialist, DECK Monitoring, LLC. May 2011 - Present

%ul
  %li Technical Support Phone Calls
  %li 5% Travel for Onsite Support
  %li Software deployments and customizations
  %li Hardware configuration and logistics/shipping
  %li Single-line drawings in AutoCAD
  %li QA software deployments
  %li Documentation of software bugs in fogbugz ticketing system

%h4 Training Support Specialist, Office Ally, LLC. March 2009 - May 2011

%ul
  %li Training new users on electronic health records software
  %li Testing new releases
  %li Documentation of bugs in JIRA ticketing system

%h4 Relocation to Portland, OR December 2008 - March 2009

%ul
  %li Who wouldn't want to relocate to the best city in the country?

%h4 Level 2 Support Professional, Stream Inc. September 2007 - December 2008

%ul
  %li Provide end level hardware and software support to Dell business cuswtomers
  %li Document issues
  %li Escalate when necessary

%br

%h3 Projects

%h4 PDX911Calls - Repository for 911 calls in Portland Oregon - http://pdx911calls.herokuapp.com

%ul
  %li Web application to store and search 911 calls in the city of Portland
  %li Worked on a team of two and practiced pair programming
  %li CivicApps API with background processes
  %li Interfaced with the Google Maps API

%br

%h3 Education

%h4 Portland Code School, OR September 2013 - Janurary 2014

%p Focus on Ruby on Rails and full-stack web development.

%h4 University of South Florida, FL September 2002 - May 2007

%p Graduated with a BS in Management Information Systems

%ul
  %li Bright Future Scholarship 2002-2007
  %li W.L. Brewer Scholarship, 2002-2007
  %li Boy State, May 2001

%h3 Affiliations

%ul
  %li PDX Ruby Brigade
  %li Hack and Help weekly coder meet-up
  %li Ruby Newbies