!!!
%html
  %head
    %title About
    = stylesheet_link_tag "application"
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  %body
    %header
      %h1.title
        %a(href="/") Paul Ogden
      %ul.nav
        %li
          %a(href="/about.html") About
        %li
          %a(href="/portfolio.html") Portfolio
        %li
          %a(href="/resume.html") Resume
        %li
          %a(href="/contact.html") Contact
    %section
      .wrapper

        .page-heading
          %h2 About
        %article
          %h3 My name is Paul Ogden and I am a recent graduate of Portland Code School.
          %p For the past 6 months I have been learning full stack web development with a focus on Ruby on Rails.  From the beginning of my programming studies I have been practicing Test Driven Development.  

          %a(href="https://github.com/ageoldpun") My Github

        .paul
