!!!
%html
  %head
    %title Contact
    = stylesheet_link_tag "application"
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  %body
    %header
      %h1.title
        %a(href="/") Paul Ogden
      %ul.nav
        %li
          %a(href="/about.html") About
        %li
          %a(href="/portfolio.html") Portfolio
        %li
          %a(href="/resume.html") Resume
        %li
          %a(href="/contact.html") Contact
    %section
      .wrapper

        .page-heading
          %h2 Contact
        %article
          %p 
            Contact me by phone at (813) 843-2031 or email at 
            %a(href="mailto:ageoldpun@gmail.com") ageoldpun@gmail.com
