!!!
%html
  %head
    %title Portfolio
    = stylesheet_link_tag "application"
    %link(rel="shortcut icon" href="/favicon.png")
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  %body
    %header
      %h1.title
        %a(href="/") Paul Ogden
      %ul.nav
        %li
          %a(href="/about.html") About
        %li
          %a(href="/portfolio.html") Portfolio
        %li
          %a(href="/resume.html") Resume
        %li
          %a(href="/contact.html") Contact
    %section
      .wrapper

        .page-heading
          %h2 Portfolio
        %article
          %div
            %p 
              %a(href="http://pdx911calls.herokuapp.com" target="_blank") Portland 911 Calls
              %br
              %a(href="http://pdx911calls.herokuapp.com" target="_blank")
                %img(src="#{image_path("pdx911.png")}" width="480" height="284")
              %p A website to store and search 911 calls for the city of Portland.  It was built using the Google Maps API as well as pulling in an XML feed from CivicApps.
              %a(href="https://github.com/ageoldpun/pdx911calls") Check out the code on Github
