!!!
%html
  %head
    %title Resume
    = stylesheet_link_tag "application"
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  %body
    %header
      %h1.title
        %a(href="/") Paul Ogden
      %ul.nav
        %li
          %a(href="/about.html") About
        %li
          %a(href="/portfolio.html") Portfolio
        %li
          %a(href="/resume.html") Resume
        %li
          %a(href="/contact.html") Contact
    %section
      .wrapper

        .page-heading
          %h2 R&eacute;sum&eacute;
        %article
          %iframe(src="https://docs.google.com/viewer?srcid=0B6PGApBpG-ZdNmNMMGxYVHRMVlk&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="640px" height="480px")
    %footer
      %p by Paul Ogden

